#logo {
  width: 160px;
  padding-bottom: 20px;
}

#outerMain {
  background-color: #fff;
}

#sidebar {
  padding-left: 25px;
  padding-top: 20px;
  background-color: #F0F0F0;
}
#sidebar p {
  position: relative;
  left: 40px;
  top: 25px;
  border-bottom: 0.5px solid gray;
}

#account {
  position:relative;
  float:right;
  padding-right: 20px;
}

#account a {
  padding-left: 10px;
}

button {
background: #ddd;
cursor: pointer;
}

hr {
  position: relative;
  top: 10px;
  left:30px;
  margin-bottom: : 10px;
}

a {
  color: #00008b;
}

footer {
  margin-left: 300px;
}


#welcome {
  text-align: center;
  float: left;
  padding-left: 30px;
}

#sections {
  float: right;
  padding-right: 50px;
  padding-top: 20px;
}

#leftSection {
  position: ;
}

#fairy {
  float : left;
  padding-right: 30px;
}

.main-background {
  background-color: #eee;
}

.panel-default > .panel-heading {
  background-color: #CEF2E0;
}

.green-background {
  background-color: #F5FFFA;
}

.blue-header .panel-default > .panel-heading {
  background-color: #CEDFF2;
}

.blue-background {
  background-color: #F5FAFF;
}

.purple-header .panel-default > .panel-heading {
  background-color: #DDCEF2;
}

.purple-background {
  background-color: #FAF5FF;
}

.well{
  background-color: #eee;
  margin-right: 15px;
}
